body{
    background:hsl(233, 47%, 7%);
    color: white;
}
/*card*/
.small-box{
    background: #1C1938;
    position: absolute;
    margin-top: 100px;
    margin-left: 115px;
    height: 500px;
    width: 1300px;
    border-radius: 5px;
}
.text{
    margin: 50px 10px 100px auto;
    padding-right: 700px;
    padding-left: 100px;
}
.heading1{
    font-size: 40px;
    font-family: 'Inter', serif;
    font-weight: 800;
    padding-bottom: 40px;
    padding-top: 22px;
}
.heading1 span{
    color:#AB5BDD;
    padding-bottom: 40px;
    font-family: 'Inter', serif;
    font-weight: 700;
}
.heading2{
    font-family: 'Lexend Deca', serif;
    font-weight: 400;
    padding-right: 100px;
    line-height: 28px;
    color: hsla(0, 0%, 100%, 0.6);
}
.stats{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 28px;
    padding-top: 80px;
    padding-bottom: 10px;
    display: inline-block;
    color: hsla(0, 0%, 100%, 0.5);
}
.stats span{
    font-family: 'Inter', serif;
    font-size: 25px;
    font-weight: 800;
    color: white;
}
#s1{
   margin-right: 50px; 
}
#s2{
   margin-right: 50px; 
}
#s3{
   margin-right: 50px; 
}
/*last part*/
.attribution{
    font-family: 'Lexend Deca', serif;
    color: hsla(0, 0%, 100%, 0.75);
    text-align: center;
    padding-top: 670px;
    padding-left: 20px;
}
.sp{
    color: #A459D1;
    text-decoration: none;
}
.sp:hover{
    color:#da99ff;
}
.sp:active{
    color:#ff61e2
}
/*image*/
.ig{
    position: absolute;
    top: 0px;
    background-color:#4f007d;
    right: 0px;
    height: 500px;
    width: 630px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
img{
    height: inherit;
    width: inherit;
    opacity: .7;
    border-radius: inherit;
}
@media(max-width: 376px){
    .small-box{
        position: flex;
        margin-top: 30px;
        margin-left: 28px;
        height: 710px;
        width: 300px;
        border-radius: 5px;
    }
    .text{
        text-align: center;
        padding-top: 180px;
        padding-right: 0px;
        padding-left: 10px;
        padding-bottom: 0px;
        font-size: 12px;
        line-height: 1px;
    }
    .heading1{
        text-align: center;
        font-size: 18px;
        line-height: 2;
    }
    .heading2{
        padding-left: 10px;
        padding-right: 10px;
    }
    .ig{
        right: 0px;
        height: 225px;
        width: 300px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 0px;
    }
    .stats{
        font-size: smaller;
        padding-top: 20px;
        padding-right: 0px;
        padding-left: 90px;
        right: 0px;
    }
    .stats span{
        font-size: 17px;
        padding-left: 0px;
    }
    #s1{
        margin-right: 100px; 
        padding-bottom: 0px;
    }
    #s2{
        margin-right: 100px; 
        padding-bottom: 0px;
    }
    #s3{
        margin-right: 100px; 
    }
    .attribution{
        position: relative;
        top: 90px;
        font-size: 10px;
        padding-left: 0px;
        padding-bottom: 20px;
    }
}